<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citi.portfolio.entity.dao.FundManagerMapper" >
  <resultMap id="BaseResultMap" type="com.citi.portfolio.entity.FundManager" >
    <id column="ManagerID" property="managerid" jdbcType="INTEGER" />
    <result column="FirstName" property="firstname" jdbcType="VARCHAR" />
    <result column="LastName" property="lastname" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="PhoneNumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Profit" property="profit" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ManagerID, FirstName, LastName, Email, PhoneNumber, Password, Profit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fundmanager
    where ManagerID = #{managerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fundmanager
    where ManagerID = #{managerid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citi.portfolio.entity.FundManager" >
    insert into fundmanager (ManagerID, FirstName, LastName, 
      Email, PhoneNumber, Password, 
      Profit)
    values (#{managerid,jdbcType=INTEGER}, #{firstname,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{profit,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.citi.portfolio.entity.FundManager" >
    insert into fundmanager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        ManagerID,
      </if>
      <if test="firstname != null" >
        FirstName,
      </if>
      <if test="lastname != null" >
        LastName,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="phonenumber != null" >
        PhoneNumber,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="profit != null" >
        Profit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        #{managerid,jdbcType=INTEGER},
      </if>
      <if test="firstname != null" >
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="profit != null" >
        #{profit,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citi.portfolio.entity.FundManager" >
    update fundmanager
    <set >
      <if test="firstname != null" >
        FirstName = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        LastName = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        PhoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="profit != null" >
        Profit = #{profit,jdbcType=DOUBLE},
      </if>
    </set>
    where ManagerID = #{managerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citi.portfolio.entity.FundManager" >
    update fundmanager
    set FirstName = #{firstname,jdbcType=VARCHAR},
      LastName = #{lastname,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      PhoneNumber = #{phonenumber,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      Profit = #{profit,jdbcType=DOUBLE}
    where ManagerID = #{managerid,jdbcType=INTEGER}
  </update>
  
  <!--select all-->
  <select id="getAllManagers" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from fundmanager
  </select>
  
  
  <!--select by email-->
  <select id="selectByEmail" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from fundmanager
    
    where Email = #{email}
  </select>
</mapper>