<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citi.portfolio.entity.dao.FundManagerMapper" >
  <resultMap id="BaseResultMap" type="com.citi.portfolio.entity.FundManager" >
    <id column="managerId" property="managerid" jdbcType="INTEGER" />
    <result column="firstName" property="firstname" jdbcType="VARCHAR" />
    <result column="lastName" property="lastname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phonenumber" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    managerId, firstName, lastName, email, phoneNumber
  </sql>
  
  <insert id="insert" parameterType="com.citi.portfolio.entity.FundManager" >
    insert into fundmanager (managerId, firstName, lastName, 
      email, phoneNumber)
    values (#{managerid,jdbcType=INTEGER}, #{firstname,jdbcType=VARCHAR}, #{lastname,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phonenumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.citi.portfolio.entity.FundManager" >
    insert into fundmanager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        managerId,
      </if>
      <if test="firstname != null" >
        firstName,
      </if>
      <if test="lastname != null" >
        lastName,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phonenumber != null" >
        phoneNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerid != null" >
        #{managerid,jdbcType=INTEGER},
      </if>
      <if test="firstname != null" >
        #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        #{phonenumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert> <update id="updateByPrimaryKeySelective" parameterType="com.citi.portfolio.entity.FundManager" >
    update fundmanager
    <set >
      <if test="firstname != null" >
        firstName = #{firstname,jdbcType=VARCHAR},
      </if>
      <if test="lastname != null" >
        lastName = #{lastname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phonenumber != null" >
        phoneNumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
    </set>
    where managerId = #{managerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citi.portfolio.entity.FundManager" >
    update fundmanager
    set firstName = #{firstname,jdbcType=VARCHAR},
      lastName = #{lastname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phoneNumber = #{phonenumber,jdbcType=VARCHAR}
    where managerId = #{managerid,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fundmanager
    where managerId = #{managerid,jdbcType=INTEGER}
  </delete>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fundmanager
    where managerId = #{managerid,jdbcType=INTEGER}
  </select>
  
</mapper>