<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citi.portfolio.entity.dao.PositionMapper" >
  <resultMap id="BaseResultMap" type="com.citi.portfolio.entity.Position" >
    <id column="PositionID" property="positionid" jdbcType="INTEGER" />
    <result column="PortfolioID" property="portfolioid" jdbcType="INTEGER" />
    <result column="Quantity" property="quantity" jdbcType="INTEGER" />
    <result column="InitialPrice" property="initialprice" jdbcType="DECIMAL" />
    <result column="CurrentPrice" property="currentprice" jdbcType="DECIMAL" />
    <result column="SecurityID" property="securityid" jdbcType="INTEGER" />
    <result column="Profit" property="profit" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    PositionID, PortfolioID, Quantity, InitialPrice, CurrentPrice, SecurityID, Profit
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from position
    where PositionID = #{positionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from position
    where PositionID = #{positionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citi.portfolio.entity.Position" >
    insert into position (PositionID, PortfolioID, Quantity, 
      InitialPrice, CurrentPrice, SecurityID, 
      Profit)
    values (#{positionid,jdbcType=INTEGER}, #{portfolioid,jdbcType=INTEGER}, #{quantity,jdbcType=INTEGER}, 
      #{initialprice,jdbcType=DECIMAL}, #{currentprice,jdbcType=DECIMAL}, #{securityid,jdbcType=INTEGER}, 
      #{profit,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.citi.portfolio.entity.Position" >
    insert into position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="positionid != null" >
        PositionID,
      </if>
      <if test="portfolioid != null" >
        PortfolioID,
      </if>
      <if test="quantity != null" >
        Quantity,
      </if>
      <if test="initialprice != null" >
        InitialPrice,
      </if>
      <if test="currentprice != null" >
        CurrentPrice,
      </if>
      <if test="securityid != null" >
        SecurityID,
      </if>
      <if test="profit != null" >
        Profit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="positionid != null" >
        #{positionid,jdbcType=INTEGER},
      </if>
      <if test="portfolioid != null" >
        #{portfolioid,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="initialprice != null" >
        #{initialprice,jdbcType=DECIMAL},
      </if>
      <if test="currentprice != null" >
        #{currentprice,jdbcType=DECIMAL},
      </if>
      <if test="securityid != null" >
        #{securityid,jdbcType=INTEGER},
      </if>
      <if test="profit != null" >
        #{profit,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citi.portfolio.entity.Position" >
    update position
    <set >
      <if test="portfolioid != null" >
        PortfolioID = #{portfolioid,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        Quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="initialprice != null" >
        InitialPrice = #{initialprice,jdbcType=DECIMAL},
      </if>
      <if test="currentprice != null" >
        CurrentPrice = #{currentprice,jdbcType=DECIMAL},
      </if>
      <if test="securityid != null" >
        SecurityID = #{securityid,jdbcType=INTEGER},
      </if>
      <if test="profit != null" >
        Profit = #{profit,jdbcType=DOUBLE},
      </if>
    </set>
    where PositionID = #{positionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citi.portfolio.entity.Position" >
    update position
    set PortfolioID = #{portfolioid,jdbcType=INTEGER},
      Quantity = #{quantity,jdbcType=INTEGER},
      InitialPrice = #{initialprice,jdbcType=DECIMAL},
      CurrentPrice = #{currentprice,jdbcType=DECIMAL},
      SecurityID = #{securityid,jdbcType=INTEGER},
      Profit = #{profit,jdbcType=DOUBLE}
    where PositionID = #{positionid,jdbcType=INTEGER}
  </update>
</mapper>